<div class="container flex">
    <div class="flex2">
        <div class="cabecalho">
        <p>Indicadores PCO - SFN</p>
        </div>
    </div>

    <div class="flex2">
        <div class="cablateral">
            <p> Atendimento Áreas  </p>
        </div>

        <div class="contents">
            <p>Teste</p>
        </div>

        <div class="contents">
            <p>Teste</p>
        </div>
    </div>

    <div class="flex2">
        <div class="cablateral">
            <p>Atendimento Fábrica</p>
        </div>

        <div class="contents">
            <canvas id="lineChart5" class="chart1"></canvas>
        </div>

        <div class="contents">
            <p>Teste</p>
        </div>
    </div>
   
    
    <div class="flex2">
        <div class="cablateral">
            <p>Assertividade</p>
        </div>

        <div class="contents">
            <canvas id="lineChart6" class="chart1"></canvas>
        </div>

        <div class="contents">
            <p>Teste</p>
        </div>
    </div>

    <div class="flex2">
        <div class="cablateral">
            <p>Fila B001</p>
        </div>

        <div class="contents">
            <canvas id="lineChart" class="chart1"></canvas>
        </div>

        <div class="contents">
            <canvas id="lineChart2" class="chart1"></canvas>
        </div>
    </div>

    <div class="flex2">
        <div class="cablateral">
            <p>Fila B200</p>
        </div>

        <div class="contents">
            <canvas id="lineChart3" class="chart1"></canvas>
        </div>

        <div class="contents">
            <canvas id="lineChart4" class="chart1"></canvas>
        </div>
    </div>
</div>
