<div class="container flex row">
    <div class="item">
        <mat-card class="card">
                <fa-icon [icon]="faExclamationCircle" class="card-icon faGlobe"></fa-icon>
            <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total do Dia</p>
                  <p class="card-title">35<p>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div>
                 Montagens Paradas!
                </div>
              </div>
        </mat-card>
    </div>

    <div class="item">
        <mat-card class="card">
                <fa-icon [icon]="faExclamationCircle" class="card-icon faExclamationCircle"></fa-icon>
            <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total do Dia</p>
                  <p class="card-title">5<p>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="card-footer">
                 Peça Especial!
                </div>
              </div>
        </mat-card>
    </div>

    <div class="item">
        <mat-card class="card">
                <fa-icon [icon]="faChartBar" class="card-icon faChartBar"></fa-icon>
            <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Último Dia</p>
                  <p class="card-title">82%<p>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="card-footer">
                 At. Heijunka!
                </div>
              </div>
        </mat-card>
    </div>

    <div class="item">
        <mat-card class="card">
                <fa-icon [icon]="faGlobe" class="card-icon"></fa-icon>
            <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total do Dia</p>
                  <p class="card-title">4,5 dias<p>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="card-footer">
                 Aging Médio!
                </div>
              </div>
        </mat-card>
    </div>

</div>

<div class="container flex row space-between">
    
    <div class="item2">
        <canvas id="lineChart" class="chart1"></canvas>
    </div>
    <div class="item2">
        <canvas id="lineChart2" class="chart1"></canvas>
    </div>
</div>